*.local
*.stat
RAD_cons/Win32/
RAD_cons/*.local
RAD_cons/__astcache/
RAD_cons/__history/
RAD_cons/__recovery/
RAD_dll/Win32/
RAD_dll/*.local
RAD_dll/__astcache/
RAD_dll/__history/
RAD_dll/__recovery/
RAD_graph/Win32
RAD_graph/*.local
RAD_graph/__astcache/
RAD_graph/__history/
RAD_graph/__recovery/
VisualDLL/Release/
VisualDLL/.vs/
VisualDLL/VisualDLL/Release/
VisualDLL/VisualDLL/Release/
VisualProject/Release/
VisualProject/.vs/
VisualProject/VisualProject/Release/
VirtualTreeView/Win32/
VirtualTreeView/*.local
VirtualTreeView/__astcache/
VirtualTreeView/__history/
VirtualTreeView/__recovery/
mnogopotoc/Win32/
mnogopotoc/*.local
mnogopotoc/__astcache/
mnogopotoc/__history/
mnogopotoc/__recovery/
difftimeWorkNew/Win32/
difftimeWorkNew/*.local
difftimeWorkNew/__astcache/
difftimeWorkNew/__history/
difftimeWorkNew/__recovery/
